{% extends 'base.html'%}  {# Herencia #}
{% block title %}Configuracion{% endblock %}
  
{% block cuerpo %}
  <body>
       <div id="main-area">
           <div id="main-content">        
               <form action="{{ url_for('frm_configuracion_erp.frm_configuracion_erp_act', operacion=operacion) }}" method="POST" {{valida}}>
                    <!-- <input type="hidden" name="_ip_csrf" value="187dae7f0d0a49064bbba3a9e2786f49"> -->
                    <div id="headerbar">
                        <h1 class="headerbar-title">Formulario de configuracion erp</h1>
                        <div class="headerbar-item pull-right">
                            <div class="btn-group btn-group-sm">
                               <button id="btn-submit" name="btn_submit" class="btn btn-success ajax-loader" value="1">
                                       <i class="fa fa-check"></i> {{operacion}}
                               </button>
                               <button id="btn-cancel" type="button" name="btn_cancel" class="btn btn-danger" onclick="salir()" value="1">
                                       <i class="fa fa-times"></i> Cancelar
                               </button>
                            </div>
                        </div>
                    </div>
                    <div id="content">        
                        <!-- <input class="hidden" name="is_update" type="hidden" value="1"> -->
                       <div class="row">
                           <div class="col-xs-12 col-sm-6">
                               <div class="panel panel-default">
                                  <div class="panel-heading form-inline clearfix">
                                      Información configuracion erp
                                  </div>
                                  <div class="panel-body">
                                       <div Class='form-group'>
                                          <label for='id_empresa'>Id empresa</label>
                                          <input type='number' step='1' min=0 max='' class=form-control id=id_empresa name=id_empresa size=10 maxlenght=0 value='{{reg.id_empresa}}' required readonly>
                                           </div>
                                       <div Class='form-group'>
                                          <label for='base_retencion'>Base retencion</label>
                                          <input type='number' step='0.01' min='0' max='9999999999999.99' class=form-control id=base_retencion name=base_retencion size=25 maxlenght=15 value='{{reg.base_retencion}}' {{bloquea_campos}}  required >
                                           </div>
                                       <div Class='form-group'>
                                          <label for='numeracion_por_bodega'>Numeracion por bodega</label>
                                          <input type='checkbox' class=form-control id=numeracion_por_bodega name=numeracion_por_bodega value='{{reg.numeracion_por_bodega}}' {{bloquea_campos}}
                                               {% if reg.numeracion_por_bodega> 0 %}
                                                    checked
                                                    {% endif %}
>
                                           </div>
                                       <div Class='form-group'>
                                          <label for='redondea_documentos'>Redondea documentos</label>
                                          <input type='checkbox' class=form-control id=redondea_documentos name=redondea_documentos value='{{reg.redondea_documentos}}' {{bloquea_campos}}
                                               {% if reg.redondea_documentos> 0 %}
                                                    checked
                                                    {% endif %}
>
                                           </div>
                                           </div>
                                  </div>
                               </div>
                           </div>
                       </div>
                    </div>
               </form>
           </div>
       </div>
     <script>
         function salir(){
             if (confirm("Esta seguro de abonadar esta pagina?")){
                 location.href = "{{url_for('frm_configuracion_erp.frm_configuracion_erp_primero')}}"
             } else {
                 return;
             }
         }
     </script>
  </body>
{% endblock %}
</html>
